.footer {
  width: 100%;
  min-height: 172px;
  padding: 79px 0 20px;
  box-sizing: border-box;
}

.footer__info {
  margin: 0 70px 20px;
  padding-bottom: 20px;
  /* max-width: 1140px; */
  color: #8B8B8B;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  border-bottom: #424242 1px solid;
}

.footer__copyright {
  margin: 0 70px;
  /* max-width: 1140px; */
  display: flex;
  justify-content: space-between;
}

.footer__year {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.7;
}